<% layout('layouts/boilerplate') -%>
<div class="row">
    <div class="col-6 mx-auto">
        <form action="/products/<%=prod._id%>?_method=PATCH" method="POST">
            <div class="mb-3">
                <label for="productName">Name: </label>
                <input type="text" class="form-control" name="name" id="productName" placeholder="Name of the Product" value="<%=prod.name%>">
            </div>
            <div class="mb-3">
                <label for="image">Image: </label>
                <input type="text" class="form-control" name="image" id="image" placeholder="Image link of the Product" value="<%=prod.image%>">
            </div>
            <div class="mb-3">
                <label for="price">Price: </label>
                <input type="number" class="form-control" name="price" id="price" placeholder="Price of the Product" value="<%=prod.price%>">
            </div>
            <div class="mb-3">
                <label for="description">Description: </label>
                <textarea name="description" id="description" rows="5" cols="79" placeholder="Description of the Product"><%=prod.description%></textarea>
            </div>
            <button class="btn btn-sm btn-success" type="submit">Edit Product</button>
        </form>

    </div>
    
</div>
<script>
    (() => {
    'use strict'

    const forms = document.querySelectorAll('.needs-validation')

    Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
    if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
    }

    form.classList.add('was-validated')
    }, false)
    })
    })()  
</script>